@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pixelify-sans: "Pixelify Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pixelify-sans);
}

@keyframes highlight {
  0% {
    filter: brightness(1) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  }
  50% {
    filter: brightness(1.5) drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 0 rgba(255, 255, 255, 0));
  }
}

.highlight-skeleton {
  animation: highlight 2s ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton-highlighted {
  filter: brightness(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #9b2823;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ab3833;
}
